<div *ngIf="error">
    <pre style="font-weight: bold; color: red;">Error: {{error|json}}</pre>
</div>
<div>
    <clr-alert [clrAlertType]="'info'" [(clrAlertClosed)]="alertClosed">
        <clr-alert-item>
            <span class="alert-text">
                {{alertMsg}}
            </span>
        </clr-alert-item>
    </clr-alert>
</div>

<clr-accordion *ngIf="!error">
    <clr-accordion-panel *ngFor="let notification of notifications">
        <clr-accordion-title>
            <span style="font-weight: bold">{{notification?.createdTime | date:'medium'}}</span>
            <span style="font-weight: bold;padding-left: 30px;">{{notification?.decryptedContent?.type}}</span>
            <span
                style="font-weight: bold;padding-left: 30px;">{{notification?.decryptedContent?.payload?.paymentType}}</span>
            <span
                style="font-weight: bold;padding-left: 10px;">{{notification?.decryptedContent?.payload?.amount}}</span>
            <span style="font-weight: bold;">{{notification?.decryptedContent?.payload?.currency}}</span>

        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
            <pre *ngIf="!notification.decryptedContent">{{notification | json}}</pre>
            <pre *ngIf="notification.decryptedContent">{{notification?.decryptedContent | json}}</pre>
        </clr-accordion-content>

        <button class="btn btn-sm btn-link" (click)="downloadNotification(notification)">
            <clr-icon shape="download"></clr-icon> Download
        </button>
    </clr-accordion-panel>
</clr-accordion>